/* Principal */

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
html {
    margin: 0;
    padding: 0;
    border-width: 0;
    font-family: 'Spectral', serif;
}

body {
    margin: 0;
    padding: 0;
    border-width: 0;
}


/* Otras clases */

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nada {
    margin: 0;
    padding: 0;
    border-width: 0;
}

.nadabajo {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 30%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#franjaroja {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 30%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#franjarojaabajo {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 30%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#tituloindex {
    color: white;
    text-align: center;
    font-size: 700%;
}

#botonindex {
    width: 250px;
    height: 70px;
    border-radius: 70px;
    border-color: red;
    border-width: 5px;
    color: white;
    background-color: black;
    font-size: xx-large;
}

.tituloalbum {
    color: white;
    font-size: 550%;
    text-align: center;
}

.coverimg {
    width: 50%;
    margin-left: 15%;
    box-shadow: 0 0 30px #FFFFFF;
}

.canciones {
    color: white;
    text-align: right;
    line-height: 15px;
}

.canciones a {
    text-decoration: none;
    color: white;
}

.botonsiguiente {
    width: 130px;
    height: 50px;
    border-radius: 40px;
    border-color: red;
    border-width: 3px;
    color: white;
    background-color: black;
    font-size: large;
}


/* Diseño de columnas */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}


/* Responsive */

@media only screen and (max-width: 600px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
    #tituloindex {
        color: white;
        text-align: center;
        font-size: 300%;
    }
    .tituloalbum {
        color: white;
        font-size: 300%;
        text-align: center;
    }
    .coverimg {
        margin-left: 25%;
    }
    .canciones {
        text-align: center;
        line-height: 12px;
    }
    .canciones a {
        text-align: center;
        line-height: 12px;
    }
}